:root {
        /* App Colors */
        --color-black: var(--color-black);
        --color-background: var(--color-gray);
        --color-background-button: var(--color-apricot);
        --color-background-white: var(--color-white);
        --color-background-target: var(--color-orange);

        /* Colors */
        --color-black: #050a13;
        --color-gray: #1b1e26;
        --color-apricot:#edd7cf;
        --color-white: #ffffff;
        --color-orange: #f78a6f;
}

* {
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--color-background-button);
}

button:hover {
    cursor: pointer;
}

/* Common */
.solid {
    border: 4px solid;
    border-radius: 8px;
    padding: 10px;
    border-color: var(--color-black);
}

/* CSS */
body {
    box-sizing: border-box;
    min-height: 100vh; /* 최소 높이를 브라우저 전체 높이로 설정 */
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(196, 196, 196, 1) 100%);
    display: flex;
    justify-content: center; /* 가로 중앙 배치 */
    align-items: center; /* 세로 중앙 배치 */
}

.bg {
    position: relative;
    /* 임시 경로 */
    background-image: url("../img/background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px; /* 이미지의 고정된 너비 */
    height: 600px; /* 이미지의 고정된 높이 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 선택적으로 그림자 추가 */
}

/* Top Menu */
.gameInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.play, .pause {
    width: 50px;
    height: 50px;
}
.play {
    display: block;
}
.pause {
    display:none;
}

.gameInfo__time{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-white);
    width: 130px;
    font-size: 30px;
}
    
.gameInfo__targetCount{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-target);
    color: var(--color-background-white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 35px;
}

/* Bottom Menu */
.gameMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);
    background-color: rgba(0, 0, 0, 0.5); /* 배경색을 검정색으로 설정하고 투명도를 0.5로 설정 */
    border-radius: 8px;
    width: 300px;
    margin: 80px auto;
    padding: 10px;
    gap: 10px;
    z-index: 3;
}

.gameMenu__result {
    color: var(--color-background-white);
}

/* Game Field */
.gameField {
    position: relative;
    width: 100%;
    height: 300px;
    bottom: 0;
}

.bug {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 1%;
    left: 1%;
}
    
.target {
    position: absolute;
    cursor: pointer;
    width: 5%;
    z-index: 2;
    top: 1%;
    left: 1%;
}